<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hola</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>Hola </h1>
  <app-explore-container name="Tab 1 page">
    
  </app-explore-container>
</ion-content> -->
<!-- <div class="form-floating">
  <input type="email" class="form-control" id="floatingInput" [(ngModel)]="user" placeholder="name@example.com">
  <label for="floatingInput">Email </label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" [(ngModel)]="pass" placeholder="Password">
  <label for="floatingPassword">Contraseña</label>
</div>

<button class="w-100 m-1 btn btn-lg btn-primary" type="submit" (click)="login(user,pass)">Ingresar</button> -->

<ion-content [fullscreen]="true">

  <!-- Login Page -->
  <div class="container">
    <div class="icon ion-text-center">
      <img src="assets/icon.png">

    </div>
    <h1 class="heading">Bienvenido a la app de Tabla Didactica<br><br></h1>

    <div class="contenedor-login">
      <p class="para">Iniciar sesion</p>
      <form [formGroup]="formData">


        <ion-item class="ion-item">

          <ion-input label="Email" label-placement="floating"  fill="solid" placeholder="Enter text" formControlName="email" type="email"></ion-input>

        </ion-item>

        <ion-item  class="ion-item">
          <ion-input label="Contraseña" label-placement="floating"  fill="solid" placeholder="Enter text" formControlName="password" type="password"></ion-input>

          
          
        </ion-item>


      

        <ion-button class="login-button" type="submit" (click)="login()" expand="block">Ingresar</ion-button>
        

      </form>
    </div>
    

    <div class="ion-text-center">
      <h2 class="texto-login">Autocompletar datos de:</h2>
      <div class="contenedor-botones">
        <div class="contenedor-imagen-info">
          
          <button class="img-button" (click)="completarDatos('admin@admin.com','111111')">
            <img class="img-user" src="/assets/admin.png" alt="">
            <h3>Admin</h3>
          </button>
        </div>
        <div class="contenedor-imagen-info">
          
          <button class="img-button" (click)="completarDatos('invitado@invitado.com','222222')">
            <img class="img-user" src="/assets/invitado.png" alt="">
            <h3>Invitado</h3>
          </button>
        </div>
        <div class="contenedor-imagen-info">
          
          <button class="img-button" (click)="completarDatos('usuario@usuario.com','333333')">
            <img class="img-user" src="/assets/usuario.png" alt="">
            <h3>Usuario</h3>
          </button>
        </div>
        <div class="contenedor-imagen-info">
          
          <button class="img-button" (click)="completarDatos('anonimo@anonimo.com','444444')">
            <img class="img-user" src="/assets/anonimo.png" alt="">
            <h3>Anonimo</h3>
          </button>
        </div>
        <div class="contenedor-imagen-info">
          
          <button class="img-button" (click)="completarDatos('tester@tester.com','555555')">
            <img class="img-user" src="/assets/tester.png" alt="">
            <h3>Tester</h3>
          </button>
        </div>
        
      </div>
    </div>

    

  </div>

 


</ion-content>



