<div class="container">

  <div class="contenedor-botones">
    <div class="boton-numero" (click)="reproducirSonido('rojo')">
      <img src="/assets/colores/rojo.png" alt="">
    </div>
    <div class="boton-numero" (click)="reproducirSonido('celeste')">
      <img src="/assets/colores/celeste.png" alt="">
    </div>
    <div class="boton-numero" (click)="reproducirSonido('verde')">
      <img src="/assets/colores/verde.png" alt="">
    </div>
    <div class="boton-numero" (click)="reproducirSonido('rosa')">
      <img src="/assets/colores/rosa.png" alt="">
    </div>
    <div class="boton-numero grid-final" (click)="reproducirSonido('amarillo')">
      <img src="/assets/colores/amarillo.png" alt="">
    </div>
  </div>
  
</div>



