<div class="container">

  <div class="contenedor-botones">
    <div class="boton-numero" (click)="reproducirSonido('perro')">
      <img src="/assets/animales/perro.png" alt="">
    </div>
    <div class="boton-numero" (click)="reproducirSonido('gato')">
      <img src="/assets/animales/gato.png" alt="">
    </div>
    <div class="boton-numero" (click)="reproducirSonido('leon')">
      <img src="/assets/animales/leon.png" alt="">
    </div>
    <div class="boton-numero" (click)="reproducirSonido('conejo')">
      <img src="/assets/animales/conejo.png" alt="">
    </div>
    <div class="boton-numero grid-final" (click)="reproducirSonido('rana')">
      <img src="/assets/animales/rana.png" alt="">
    </div>
  </div>
  
</div>


