<div class="container">

  <div class="contenedor-botones">
    <div class="boton-numero" (click)="reproducirSonido('1')">
      <img src="/assets/numeros/1.png" alt="">
    </div>
    <div class="boton-numero" (click)="reproducirSonido('2')">
      <img src="/assets/numeros/2.png" alt="">
    </div>
    
    <div class="boton-numero" (click)="reproducirSonido('3')">
      <img src="/assets/numeros/3.png" alt="">
    </div>
    <div class="boton-numero" (click)="reproducirSonido('4')">
      <img src="/assets/numeros/4.png" alt="">
    </div>
    <div class="boton-numero grid-final" (click)="reproducirSonido('5')">
      <img src="/assets/numeros/5.png" alt="">
    </div>
  </div>
  
</div>



